/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bee-aware-logo {
    width: 60px;
    margin-left: 1.5rem;
    padding-left: 5px;
    height: 3rem;
}

#top-nav {
    background-color: rgba(255, 255, 255, 0.837);
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.nav-bar {
    background-color: var(--black);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--white);
    width: 100%;
}

.menu-toggle {
    margin-right: 1.5rem;
    font-size: 3rem;
    color: var(--white);
}

.main-menu {
    position: absolute;
    display: none;
    left: -20rem;
    top: 4rem;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.main-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 100vh;
    width: 100%;
    background-color: var(--light-purple);
    top: 3.5rem;
}

.main-menu li {
    margin: 10% auto;
}

.main-menu a {
    display: block;
    padding: 1em;
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--dark-purple);
    text-decoration: none;
}

.main-menu a:hover {
    background: var(--dark-purple);
}

.main-menu {
    position: absolute;
    right: 0;
    top: 0;
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    top: 4.6rem;
    z-index: 1000;
}

#home {
    height: 60vh;
    width: 100%;
    background-color: var(--white);
    overflow: hidden;
}

.hero-image {
    background: url("../images/hero.jpg") no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100%;

}

.hero-text {
    height: 15%;
    width: 40%;
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-size: 15rem;
    padding: 0;
    opacity: 0;
}

.hero-text h1 {
    color: var(--white);
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}

@media (min-width: 992px) {

    .nav-bar {
        flex-direction: row;
    }


    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }

    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: 7.5rem;
        display: block;
        overflow: hidden;
        width: auto;
        color: var(--white);
    }

    .main-menu ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        box-shadow: none;
        height: 7.5rem;
        width: auto;
        background-color: var(--black);
        margin-right: 4rem;
    }

    .main-menu:target ul,
    .main-menu[aria-expanded="true"] ul {
        top: 0;
    }

    .main-menu li {
        margin-left: 2rem;
    }

    .bee-aware-logo {
        margin-left: 2.5rem;
        font-size: 4rem;
    }

    .main-menu a {
        color: var(--white);
        border: none;
        margin-left: 4em;
        border-bottom: 3px solid var(--black);
    }

    .main-menu a:hover {
        background: none;
        border-bottom: 3px solid var(--white);
        border-radius: 0;
    }

    .main-menu ul a:focus {
        color: var(--white);
    }

    .hero-text {
        height: 10rem;
        width: 25rem;
    }

    .hero-text h1 {
        font-size: 6rem;
    }
}