/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2c2c;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.bee-aware-logo {

    display: none;
    width: 4rem;
    margin-left: 0.5rem;
    padding-left: 1px;
    padding-right: 2rem;
    font-size: 3rem;
}

.topnav {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 0.5rem;
    background: url("../images/top2.jpg") no-repeat center center;
}



.menu {

    display: none;

}


.menu li:hover {

    display: flex;
    border-radius: 1rem;
    transition: 1s ease;
    transform: scale(1);

}

.nav-links a {
    color: #2c2c2c;
    font-size: large;
}

input[type=checkbox]:checked~.menu {
    display: inline-block;
}

.hamburger {
    display: block;
    font-size: 2rem;
}

input[type=checkbox] {
    display: none;
}

.hero-image {
    background: url("../images/hero-image2.jpg") no-repeat center center;
    height: 40vh;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.493);
    background-blend-mode: overlay;
}

.text-center {
    text-align: center;

}

.hero-text {

    width: 80%;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: smaller;
}

/* Media Queries */

/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .bee-aware-logo {
        display: flex;

    }

    .topnav {

        flex-direction: row;
        justify-content: flex-start;
        background: #ecba04;
        position: fixed;
        z-index: 1;
        overflow: hidden;
        width: 100%;

    }

    .menu {
        display: flex;
        font-size: 1rem;
        background-color: #ecba04;

    }

    /* HAMBURGER MENU */
    .hamburger {
        display: none;
        font-size: 2.5rem;

    }

    .hero-text {
        top: 80%;
        font-size: large;
    }

    .menu li:hover {

        background-color: #efbeb7;

    }

    .menu li {
        padding: 1rem 2rem;
    }
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero-image {

        height: 75vh;
    }




    .topnav {
        justify-content: space-between;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Large devices (larger desktops, 1400px and up)  */
@media (min-width: 1400px) {}